name: Docker build

on:
  push:
    branches: main/*

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v1
      -
        name: Login to Docker Hub
        run: |
          docker login --username ${{ secrets.DOCKER_USERNAME }} --password ${{ secrets.DOCKER_PASSWORD }}
      -
        name: Build image
        run: |
          docker build \
            --output "type=image,push=false" \
            -t mrosenbjerg/secrets-server \
            -f ./Dockerfile .
      -
        name: Push new image
        run: |
          docker push mrosenbjerg/secrets-server
